'.source.mdx':
  'editor':
    'commentStart': '--'
    'increaseIndentPattern': '^\\s*(with|member|set|select|from)\\b|\\((?!.*\\))|\\{(?!.*\\})'
    'decreaseIndentPattern': '^\\s*(\\)|\\})(?!=.*(\\(|\\{))'
